.sidebar {
    display: block;
    width: 100%;
    background: #f2f2f2;
}
.sidebar-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(left, color-stop(#f2f2f2 10), color-stop(#f2f2f2 10));
    background-image: linear-gradient(to right, #f2f2f2 10px, #f2f2f2 10px);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
    outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
    display: block;
}
.sidebar-nav ul a {
    padding: 10px 10px;
    color: #888;
    border-bottom: 1px solid rgba(122, 122, 122, 0.1);
    box-shadow: 0px 1px 0px rgba(122, 122, 122, 0.05) inset;
}

.sidebar-nav ul>li>ul>li>a {
    font-size: smaller;
    padding: 8px 50px;
}

.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
    color: #111;
    text-decoration: none;
}